@import "style.css";


path.active, h2.active, p.active              { fill: var(--color-active); color: var(--color-active); }
path.recovered, h2.recovered, p.recovered     { fill: var(--color-recovered); color: var(--color-recovered); }
path.vaccinated, h2.vaccinated, p.vaccinated  { fill: var(--color-vaccinated); color: var(--color-vaccinated); }
path.confirmed, h2.confirmed, p.confirmed     { fill: var(--color-confirmed); color: var(--color-confirmed); }
path.deceased, h2.deceased, p.deceased        { fill: var(--color-deceased); color: var(--color-deceased); }

path.active     { stroke: var(--color-active); }
path.recovered  { stroke: var(--color-recovered); }
path.vaccinated { stroke: var(--color-vaccinated); }
path.confirmed  { stroke: var(--color-confirmed); }
path.deceased   { stroke: var(--color-deceased); }

path.pathstroke { fill: none; stroke-width: 2; }

h2.title { font-size: 2.5rem; }

p.highlighted { font-size: 1.5rem; }

.subtitle text {
  text-decoration: underline;
  font-size: 12px;
}

.axis .domain,
.axis.xAxis line {
  display: none;
}

.axis.yAxis line {
  stroke-width: 0;
}