@import "style.css";


path.active, text.active          { fill: var(--color-active); color: var(--color-active); }
path.recovered, text.recovered    { fill: var(--color-recovered); color: var(--color-recovered); }
path.vaccinated, text.vaccinated  { fill: var(--color-vaccinated); color: var(--color-vaccinated); }
path.confirmed, text.confirmed    { fill: var(--color-confirmed); color: var(--color-confirmed); }
path.deceased, text.deceased      { fill: var(--color-deceased); color: var(--color-deceased); }

path.active     { stroke: var(--color-active); }
path.recovered  { stroke: var(--color-recovered); }
path.vaccinated { stroke: var(--color-vaccinated); }
path.confirmed  { stroke: var(--color-confirmed); }
path.deceased   { stroke: var(--color-deceased); }

path.pathstroke { fill: none; stroke-width: 2; }

.subtitle text {
  text-decoration: underline;
  font-size: 12px;
}

.axis .domain,
.axis.xAxis line {
  display: none;
}

.axis.yAxis line {
  stroke-width: 0.2;
}