.wrapper {
  font-size: 16px;
  color: #666;
  padding: 25px;
}

svg {
  overflow: visible;
}

text {
  fill: red;
  color: red;
  font-size: 16px;
}

.subtitle text {
  text-decoration: underline;
  font-size: 12px;
}

.axis .domain,
.axis.xAxis line {
  display: none;
}