@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Share:wght@700&display=swap');
/* font-family: 'Share', cursive, monospace; */

/* ==================================================================================== */

:root {
  /* Font Sizes */
  --base-font-size: 24px;   /* 1rem */

  /* Widths */

  /* Margins & Paddings */
  --padding-base: 1rem;

  /* Radius */
  --border-radius: 2px;

  /* Colors */
  --color-active            :#1AC1D3;   /* rgba(26, 193, 211, 1) */
  --color-recovered         :#83C489;   /* rgba(131, 196, 137, 1) */
  --color-vaccinated        :#F2C36D;   /* rgba(242, 195, 109, 1) */
  --color-confirmed         :#DA3F2F;   /* rgba(218, 63, 47, 1) */
  --color-deceased          :#595959;   /* rgba(89, 89, 89, 1) */
  --color-neutral           :#6DA8F2;   /* rgba(109, 168, 242, 1) */

  --color-active-light      :rgba(26, 193, 211, 0.1);
  --color-recovered-light   :rgba(131, 196, 137, 0.1);
  --color-vaccinated-light  :rgba(242, 195, 109, 0.1);
  --color-confirmed-light   :rgba(218, 63, 47, 0.1);
  --color-deceased-light    :rgba(89, 89, 89, 0.1);
  --color-neutral-light     :rgba(109, 168, 242, 0.1);


  /* Extra */
  --animation-duration: 180s;
}

body { font-family: 'Share', monospace; }

#topcards .col {
  padding: var(--padding-base);
  border-radius: var(--border-radius);
  cursor: pointer;
}

#topcards .col:nth-of-type(1) { background: var(--color-confirmed-light); }
#topcards .col:nth-of-type(2) { background: var(--color-active-light); }
#topcards .col:nth-of-type(3) { background: var(--color-recovered-light); }
#topcards .col:nth-of-type(4) { background: var(--color-deceased-light); }
#topcards .col:nth-of-type(5) { background: var(--color-vaccinated-light); }

#topcards .col:nth-of-type(1):hover { background: var(--color-confirmed); color: #fff; }
#topcards .col:nth-of-type(2):hover { background: var(--color-active); color: #fff; }
#topcards .col:nth-of-type(3):hover { background: var(--color-recovered); color: #fff; }
#topcards .col:nth-of-type(4):hover { background: var(--color-deceased); color: #fff; }
#topcards .col:nth-of-type(5):hover { background: var(--color-vaccinated); color: #fff; }

#topcards #confirmed.selected   { background: var(--color-confirmed); color: #fff; }
#topcards #active.selected      { background: var(--color-active); color: #fff; }
#topcards #recovered.selected   { background: var(--color-recovered); color: #fff; }
#topcards #deceased.selected    { background: var(--color-deceased); color: #fff; }
#topcards #vaccination.selected { background: var(--color-vaccinated); color: #fff; }

.delta-up::before   { content: '\2191 '; font-size: 1.5rem; }
.delta-down::before { content: '\2193 '; font-size: 1.5rem; }

/* SVGs */
svg { overflow: visible; }
